* {
    color: black;
    font-family: sans-serif;
}
/* nav */
.home-img {
    object-fit: contain;
    height: 550px;
}
.header-contatiner-resume {
    width: 100%;
}
.blur-header {
    background-color: #9393931a;
    backdrop-filter: blur(20px);
}
.char-linear-grad {
    background: linear-gradient(to right, #240b36, #c31432);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.wrapper {
    background: rgba(128, 128, 128, 0);
    position: relative;
  }
  .background-shape {
    background: #3a86ff;
    width: 100%;
    height: 300px;
    -ms-transform: skewY(-20deg);
    -webkit-transform: skewY(-20deg);
    transform: skewY(-20deg);
    border-radius: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .content {
    color: white;
    position: relative;
    top: 120px; 
    z-index: 10;
  }
  /* follow */
  .fa-brands {
    color: black;
    padding-right: 20px;
    font-size: 22px;
  }
  a {
    text-decoration: none;
  }

  .fa-brands:hover, a:hover {
    color: #fb5607 !important;
  }

/* articles */
/* .article.blur {
  filter: blur(5px);
  opacity: 0.5;
} */
#articles {
  margin-top: 120px;
}
.article-head {
  background-color: #fb5607;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.white {
  color: whitesmoke;
}
.article {
  height: auto;
  width: auto;
}

.article1 {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.articlebg1 {
  border-right: 2px solid rgb(226, 232, 240);
  border-left: 2px solid rgb(226, 232, 240);
  border-top: 2px solid rgb(226, 232, 240);
  height: 120px auto;
}

.aticle-head {
  color: #919596;
  font-size: 24px;
  font-weight: 600;
}

.article-disc {
  border-right: 2px solid rgb(226, 232, 240);
  border-left: 2px solid rgb(226, 232, 240);
  border-bottom: 2px solid rgb(226, 232, 240);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 10px;
}